* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Arabic-Bold.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Arabic-Light.ttf);
}
/* --------- navbar  start --------- */

.navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 26%,
    rgba(0, 0, 0, 0.44021358543417366) 86%
  );
}

.navbar .container {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.navbar .container .navbar-toggler {
  background-color: white;
}

.navbar .container .collapse .navbar-nav {
  direction: rtl;
}

.navbar .container .collapse .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 700;
  color: white;
}
.navbar .container .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #4e95ce;
}

@media only screen and (max-width: 991px) {
  .navbar .container .collapse .navbar-nav {
    direction: initial;
  }
}

/* --------- navbar  end --------- */

/* --------- header  start --------- */
header {
  position: relative;
  background-image: url(../imgs/brunette-guy-getting-key-from-manager-after-buying-vehicle.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 371px;
}

header img:first-child {
  width: 100%;
}
header a {
  background-color: #54d961;
  position: absolute;
  display: block;
  bottom: 2%;
  right: 2%;
  border-radius: 50%;
}

header a i {
  font-size: 2rem;
  padding: 0.8rem;
  color: white;
}

header img:last-child {
  position: absolute;
  top: 52%;
  left: 47%;
  width: 6%;
  cursor: pointer;
}
@media only screen and (max-width: 666px) {
  header a {
    display: none;
  }
  header img:last-child {
    display: none;
  }
  header img:first-child {
    display: none;
  }
}
/* --------- header  end --------- */

/* --------- section 1  start --------- */

.section-n1 {
  background-image: url(../imgs/headlights-hood-black-sports-car.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  backdrop-filter: blur(10px);
}
.section-n1 .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-block: 4rem;
}
.section-n1 h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Montserrat-Bold";
}

.section-n1 .choice-menu {
  max-width: fit-content;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  direction: rtl;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-n1 .choice-menu h4 {
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5625rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 576px) {
  .section-n1 .model-fourm .dropdown .btn {
    width: 300px !important;
  }
  .section-n1 .container {
    align-items: center;
  }
  .section-n1 h1 {
    text-align: center;
  }
  .section-n1 {
    background-image: linear-gradient(
        to right,
        rgba(245, 246, 252, 0.338),
        rgba(117, 19, 93, 0)
      ),
      url("../imgs/headlights-hood-black-sports-car.png");
    background-size: cover;
  }
}
.section-n1 .model-fourm .dropdown .btn {
  width: 393px;
  border-radius: 15px;
  background-color: #f5f5f5;
  border: none;
  color: #bebebe;
  font-family: "Montserrat";
  direction: rtl;
  display: block;
}

.section-n1 .choice-menu .btn-primary {
  width: 100%;
  border-radius: 30px;
  margin-top: 15px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
}
.section-n1 .choice-menu .btn-secondary {
  text-align: right;
}
/* --------- section 1  end --------- */

/* --------- section 2  start --------- */
.section-n2 {
  height: fit-content;
  margin-bottom: 5rem;
}

.section-n2 .banner {
  background-color: #e1edf7;
  border-radius: 15px;
  margin-top: 60px;
  margin-bottom: 66px;
  background-image: url(../imgs/object-bector.png);
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.section-n2 .banner .s2-banner-right {
  width: 50%;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.section-n2 .banner .s2-banner-right h1 {
  font-family: "Montserrat-Bold";
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3385c6;
}

.section-n2 .banner .s2-banner-right button {
  display: block;
  border-radius: 25px;
  background-color: #3385c6;
  border: none;
  color: white;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2.6rem;
}

.section-n2 .banner .s2-banner-left {
  position: relative;
  object-fit: cover;
}
.section-n2 .banner .s2-banner-left .car-img {
  padding: 40px;
  display: block;
  max-width: 100%;
}

.section-n2 .banner .s2-banner-left .red-circle {
  max-width: 100%;
  position: absolute;
  transform: translate(428%, -260%);
  object-fit: cover;
}

.section-n2 .banner .s2-banner-left h3 {
  font-family: "Montserrat-bold";
  font-size: 22px;
  color: white;
  position: absolute;
  text-align: center;
  transform: translate(742%, -482%) rotate(-15deg);
}

@media only screen and (max-width: 768px) {
  .section-n2 .banner .s2-banner-left .red-circle {
    transform: translate(220%, -100%);
  }
  .section-n2 .banner .s2-banner-left h3 {
    transform: translate(398%, -157%) rotate(-15deg);
  }
  .section-n2 .banner .s2-banner-right button {
    padding: 0.7rem 1.2rem;
    margin-bottom: 1.9rem;
  }
}

@media only screen and (max-width: 368px) {
  .section-n2 .banner .s2-banner-left .red-circle {
    transform: translate(190%, -117%);
  }
  .section-n2 .banner .s2-banner-left h3 {
    transform: translate(350%, -184%) rotate(-15deg);
  }
}

/* ---------- crosel ---------  */

.section-n2 .crosal-head {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.section-n2 .crosal-head h3 {
  font-family: "Montserrat-bold";
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0px;
}

.section-n2 .crosal-head a {
  display: block;
  font-family: "Montserrat";
  font-size: 0.875rem;
  color: #3385c6;
  text-decoration: none;
}

.section-n2 .crosal .owl-carousel .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section-n2 .crosal .owl-carousel .item img {
  max-width: 100%;
}

.section-n2 .crosal .owl-carousel .border-r-l {
  width: 100%;
  border-inline: 3px solid #e6e6e6;
}

.section-n2 .crosal .owl-carousel h3 {
  font-family: "Montserrat";
  font-size: 16px;
  margin-top: 11px !important;
  display: block;
}

.section-n2 .crosal .owl-carousel h2 {
  display: block;
  font-family: "Montserrat-bold";
  color: #5d99ce;
  font-size: 18px;
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 7px;
}

.section-n2 .crosal .owl-carousel h4 {
  font-family: "Montserrat";
  font-size: 14px;
  margin: 0px;
  margin-bottom: 25px;
  display: block;
  position: relative;
  text-decoration: line-through;
  text-decoration-color: red;
}

.section-n2 .crosal .owl-carousel .item .rent-button {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-family: "Montserrat-bold";
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 0 0 1.25rem 1.25rem;
}

/* --------- section 2  end --------- */
/* --------- section 3  start --------- */

.section-n3 {
  background-image: url(../imgs/blue-family-business-spotrs-hatchback-car-sunset-business-success-concept.png);
  background-size: cover;
}
.section-n3 .container {
  padding: 6.25rem 0;
}
.section-n3 .container h3 {
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.section-n3 .container .serveice-cards {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

@media only screen and (max-width: 576px) {
  .section-n3 .container .serveice-cards {
    margin-inline: auto;
    max-width: 190px;
  }
}
.section-n3 .container .serveice-cards .cards {
  background-color: white;
  display: inline-block;
  border-radius: 15px;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  min-width: 190px;
  cursor: pointer;
  flex: 1;
}

.section-n3 .container .serveice-cards .cards:hover {
  color: #4e95ce;
}

.section-n3 .container .serveice-cards .cards a {
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.section-n3 .container .serveice-cards .card-1 img {
  padding-top: 43px;
  padding-bottom: 40px;
}
.section-n3 .container .serveice-cards a {
  padding-bottom: 28px;
}

.section-n3 .container .serveice-cards .card-3 img {
  padding-top: 54px;
  padding-bottom: 53px;
}

.section-n3 .container .serveice-cards .card-4 img {
  padding-top: 53px;
  padding-bottom: 53px;
}

.section-n3 .container .serveice-cards .card-5 img {
  padding-top: 34px;
  padding-bottom: 34px;
}
/* --------- section 3  end --------- */

/* --------- section 4  start --------- */
.section-n4 .n4-head .n4-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 83px;
}

.section-n4 .n4-head .n4-header h3 {
  font-family: "Montserrat-bold";
  font-size: 24px;
  color: #333333;
}
.section-n4 .n4-head .n4-header a {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: bold;
  color: #a9a9a9;
  text-decoration: none;
}

.section-n4 .n4-head .owl-carousel .item {
  text-align: right;
  border: 2px solid #e6e6e6;
  border-radius: 20px;
  padding-top: 30px;
}

.section-n4 .n4-head .owl-carousel .item h4 {
  font-family: "Montserrat-bold";
  font-size: 16px;
  color: #333333;
  margin-bottom: 14px;
  padding-right: 30px;
}

.section-n4 .n4-head .owl-carousel .item p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  padding-right: 30px;
}

.section-n4 .n4-head .owl-carousel .item .telp {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  color: #3385c6;
  padding-right: 30px;
}

.section-n4 .n4-head .owl-carousel .item button {
  width: 100%;
  border: none;
  border-radius: 0px 0px 20px 20px;
  background-color: #3385c6;
}
.section-n4 .n4-head .owl-carousel .item button a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
  padding: 13px 0px;
  display: inline-block;
}

.section-n4 .n4-body {
  text-align: center;
  margin-top: 120px;
}
.section-n4 .n4-body h2 {
  font-family: "Montserrat-bold";
  font-size: 30px;
  color: #3385c6;

  margin-bottom: 24px;
}

.section-n4 .n4-body p {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 30px;
  max-width: 810px;
  margin: auto;
  margin-bottom: 15px;
}

.section-n4 .n4-body a {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: auto;
  color: #666666;
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 13px 30px;
  border-radius: 25px;
}
/* --------- section 4  end --------- */

/* ------------ footer start ------------  */

footer {
  background-color: #333333;
  margin-top: 7.5rem;
  padding-top: 4.625rem;
  padding-bottom: 0.625rem;
  direction: rtl;
  background-image: url(../imgs/shape-19.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
}

footer .footer-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 576px) {
  footer .footer-head {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-head .col-n1 {
    text-align: center;
    align-items: center;
  }
  footer .footer-head .col-n3 h5 {
    font-family: "Montserrat";
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    margin-block: 1rem !important;
  }
}

footer .footer-head .col-n1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5625rem;
}

footer .footer-head .col-n1 h4 {
  font-size: 0.875rem;
  font-family: "Montserrat-bold";
  color: white;
}

footer .footer-head .col-n1 div a {
  display: inline-block;
  width: 40%;
  text-decoration: none;
  font-family: "Montserrat";
  color: #b3b3b3;
  font-size: 0.875rem;
}
footer .footer-head .col-n1 div a:hover {
  color: white;
}

footer .footer-head .col-n2 > div {
  color: white;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  font-family: "Montserrat";
  color: #b3b3b3;
  font-size: 0.875rem;
  font-weight: 500;
}

.fix-ico-place {
  margin-top: 0.3125rem;
  margin-left: 0.3125rem;
}

footer .footer-head .col-n2 div i:hover + span > div {
  color: white;
}

footer .footer-head .col-n2 .social-sec {
  display: flex;
  gap: 0.4375rem;
  margin-top: 1.6875rem;
}
footer .footer-head .col-n2 .social-sec .social-icon {
  color: white;
  font-size: 1.375rem;
}
footer .footer-head .col-n2 .social-sec div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-head .col-n2 .social-sec div:nth-child(1) {
  background-color: #31a8e0;
}

footer .footer-head .col-n2 .social-sec div:nth-child(2) {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

footer .footer-head .col-n2 .social-sec div:nth-child(3) {
  background-color: #ff0000;
}

footer .footer-head .col-n2 .social-sec div:nth-child(4) {
  background-color: #1d9bf0;
}
footer .footer-head .col-n2 .social-sec div:nth-child(5) {
  background-color: #1877f2;
}

footer .footer-head .col-n3 {
  margin-bottom: 2.4375rem;
}

footer .footer-head .col-n3 h5 {
  font-family: "Montserrat";
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 2.4375rem;
  margin-bottom: 1.5625rem;
}

footer .footer-head .col-n3 input {
  border-radius: 2.5rem;
  display: block;
  font-family: "Montserrat" !important;
  color: black;
  font-size: 0.875rem;
  border: none;
  padding-block: 0.875rem;
  padding-right: 1.75rem;
  outline: none;
}

footer .footer-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer-end p {
  font-family: "Montserrat" !important;
  color: white;
  font-size: 0.8125rem;
}

@media only screen and (max-width: 576px) {
  footer .footer-end {
    flex-direction: column;
    align-items: center;
  }
}
